In [1]:
import tensorflow as tf
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import pickle

In [2]:
df= pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df=df.drop(columns=['RowNumber',	'CustomerId',	'Surname'],axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
## Encode Categorical variables
label_encoder= LabelEncoder()
df['Gender']= label_encoder.fit_transform(df['Gender'])

In [5]:
## One hot Encoder Geography
onehotencoder= OneHotEncoder(handle_unknown='ignore')
geo_encoded= onehotencoder.fit_transform(df[['Geography']]).toarray()
geo_encoded_df= pd.DataFrame(geo_encoded,columns=onehotencoder.get_feature_names_out(['Geography']))

In [6]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
## Combine the one hot encoded columns with the original data
df= pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
## Split the dataset into independent featues and dependent features
X= df.drop('EstimatedSalary',axis=1)  ## Independent Features
y= df['EstimatedSalary'] ## dependent Features

In [9]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,0,1.0,0.0,0.0

In [10]:
## train test split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=42)

## Apply scaler
scaler= StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
## Save the Encoders and Scaler for Later Use.
with open("onehotencoder_geo.pkl",'wb') as file:
    pickle.dump(onehotencoder,file)
with open("labelencoder_gender.pkl",'wb') as file:
    pickle.dump(label_encoder,file)
    
with open("scaler.pkl",'wb') as file:
    pickle.dump(scaler,file)

In [12]:
##ANN Regression Problem Statement
import tensorboard as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [13]:
# Build the ANN model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## First hidden Layer connected with input layer 
    Dense(32,activation='relu'), ## Second Hidden layer
    Dense(1)## Output Layer
])

## Compile the Model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

d:\Salary_prediction_using_ANN_Project\envn\lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [14]:
import datetime
import tensorflow
from  tensorflow.keras.callbacks import EarlyStopping,TensorBoard
log_dir="regression_logs/fit/"+ datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [15]:
## Set up Earlystopping
early_stopping_callback= EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [16]:
## train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 100991.4922 - mae: 100991.4922 - val_loss: 98547.4766 - val_mae: 98547.4766
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 99306.7734 - mae: 99306.7734 - val_loss: 97254.5781 - val_mae: 97254.5781
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99099.1875 - mae: 99099.1875 - val_loss: 93932.2422 - val_mae: 93932.2422
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 93772.6562 - mae: 93772.6562 - val_loss: 88304.1797 - val_mae: 88304.1797
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 88511.2891 - mae: 88511.2891 - val_loss: 80746.1562 - val_mae: 80746.1562
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 78924.2031 - mae: 78924.2031 - val_loss: 72341.5625 - val_mae: 72341.5625
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 71500.8438 - mae: 71500.8438 - val_loss: 64443.5508 - val_mae: 64443.5508
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 64223.0039 - mae: 64223.0039 - val_loss: 58214.1406 - val_mae: 58214.1406
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 57580.6602 - mae: 57580.6602 - val_loss: 54009.3320 - val_mae: 54009.3320
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 53823.1016 - mae: 53823.1016 - val_loss: 51760.6445 - val_mae: 51760.6445
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51659.9297 - mae: 51659.9297 - val_loss: 50843.5195 - val_mae: 50843.5195
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50814.5547 - mae: 50814.5547 - val_loss: 50556.6523 - val_mae: 50556.6523
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50448.9727 - mae: 50448.9727 - val_loss: 50468.5391 - val_mae: 50468.5391
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50130.3555 - mae: 50130.3555 - val_loss: 50421.3438 - val_mae: 50421.3438
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50334.5430 - mae: 50334.5430 - val_loss: 50395.9922 - val_mae: 50395.9922
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50398.1445 - mae: 50398.1445 - val_loss: 50374.3281 - val_mae: 50374.3281
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49931.2500 - mae: 49931.2500 - val_loss: 50362.2070 - val_mae: 50362.2070
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50164.1641 - mae: 50164.1641 - val_loss: 50341.5703 - val_mae: 50341.5703
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50063.7812 - mae: 50063.7812 - val_loss: 50328.6133 - val_mae: 50328.6133
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50723.7695 - mae: 50723.7695 - val_loss: 50314.7461 - val_mae: 50314.7461
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50554.0898 - mae: 50554.0898 - val_loss: 50306.1953 - val_mae: 50306.1953
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50302.7031 - mae: 50302.7031 - val_loss: 50296.6797 - val_mae: 50296.6797
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49440.1914 - mae: 49440.1914 - val_loss: 50280.5469 - val_mae: 50280.5469
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49594.8438 - mae: 49594.8438 - val_loss: 50270.6992 - val_mae: 50270.6992
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49441.2930 - mae: 49441.2930 - val_loss: 50259.8359 - val_mae: 50259.8359
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49834.8242 - mae: 49834.8242 - val_loss: 50252.3047 - val_mae: 50252.3047
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49654.7969 - mae: 49654.7969 - val_loss: 50246.8516 - val_mae: 50246.8516
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50266.7812 - mae: 50266.7812 - val_loss: 50245.8398 - val_mae: 50245.8398
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49484.3320 - mae: 49484.3320 - val_loss: 50241.4414 - val_mae: 50241.4414
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49355.1523 - mae: 49355.1523 - val_loss: 50235.4531 - val_mae: 50235.4531
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49607.0703 - mae: 49607.0703 - val_loss: 50229.9062 - val_mae: 50229.9062
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49035.9141 - mae: 49035.9141 - val_loss: 50222.9414 - val_mae: 50222.9414
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49471.2344 - mae: 49471.2344 - val_loss: 50214.5117 - val_mae: 50214.5117
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49661.3828 - mae: 49661.3828 - val_loss: 50215.9258 - val_mae: 50215.9258
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50024.2578 - mae: 50024.2578 - val_loss: 50207.0078 - val_mae: 50207.0078
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50101.7148 - mae: 50101.7148 - val_loss: 50205.0938 - val_mae: 50205.0938
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49761.5938 - mae: 49761.5938 - val_loss: 50202.4883 - val_mae: 50202.4883
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50360.6953 - mae: 50360.6953 - val_loss: 50199.9883 - val_mae: 50199.9883
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49774.6250 - mae: 49774.6250 - val_loss: 50198.3477 - val_mae: 50198.3477
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49493.8359 - mae: 49493.8359 - val_loss: 50195.9844 - val_mae: 50195.9844
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49495.7344 - mae: 49495.7344 - val_loss: 50198.8008 - val_mae: 50198.8008
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 48922.1562 - mae: 48922.1562 - val_loss: 50187.7266 - val_mae: 50187.7266
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49492.3008 - mae: 49492.3008 - val_loss: 50186.1836 - val_mae: 50186.1836
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49530.8711 - mae: 49530.8711 - val_loss: 50192.7188 - val_mae: 50192.7188
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50303.0234 - mae: 50303.0234 - val_loss: 50190.6445 - val_mae: 50190.6445
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49515.9258 - mae: 49515.9258 - val_loss: 50193.8359 - val_mae: 50193.8359
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49888.6875 - mae: 49888.6875 - val_loss: 50194.4922 - val_mae: 50194.4922
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49587.8516 - mae: 49587.8516 - val_loss: 50200.2891 - val_mae: 50200.2891
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49691.3789 - mae: 49691.3789 - val_loss: 50199.7461 - val_mae: 50199.7461
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49820.3633 - mae: 49820.3633 - val_loss: 50200.3477 - val_mae: 50200.3477
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49429.2617 - mae: 49429.2617 - val_loss: 50196.6133 - val_mae: 50196.6133
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49183.7344 - mae: 49183.7344 - val_loss: 50190.1953 - val_mae: 50190.1953
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49580.9492 - mae: 49580.9492 - val_loss: 50205.1055 - val_mae: 50205.1055

In [17]:
%load_ext tensorboard

In [18]:
%tensorboard --logdir regression_logs/fit

In [19]:
## Evaluate the model
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f"Test MAE {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50998.6055 - mae: 50998.6055
Test MAE 50186.18359375

In [20]:
model.save("regression.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.